#ptemail{
    -webkit-touch-callout:none; /*系统默认菜单被禁用*/
    -webkit-user-select:auto; /*webkit浏览器*/
    -khtml-user-select:auto; /*早期浏览器*/
    -moz-user-select:auto;/*火狐*/
    -ms-user-select:auto; /*IE10*/
    user-select:auto;
}