<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta name="viewport"
          content="width=device-width, initial-scale=1, maximum-scale=1">
    <title>交易记录</title>
    <link rel="stylesheet" th:href="@{/layui/css/layui.css}">
</head>
<body class="layui-layout-body">
<div class="layui-layout layui-layout-admin">
    <div data-th-replace="~{layout :: header}"></div>
    <div class="layui-body" style="left: 10px;top:10px">
        <!-- 内容主体区域 -->
        <div>
            <form id="searchFrom" class="layui-form layui-form-pane" th:action="@{/manage/transaction/list}" method="post">
                <div class="layui-form-item">
                    <div class="layui-inline">
                        <label class="layui-form-label">秘邮号</label>
                        <div class="layui-input-inline">
                            <input name="userId" placeholder="userId" class="layui-input"
                                   th:value="${userId != null ? userId : ''}" maxlength="30">
                        </div>
                    </div>
                    <div class="layui-inline">
                        <label class="layui-form-label">状态</label>
                        <div class="layui-input-inline">
                            <select id="type" name="type">
                                <option value="0" th:selected="${type==0}">全部</option>
                                <option value="1" th:selected="${state==1}">充值</option>
                                <option value="2" th:selected="${state==2}">扣款</option>
                            </select>
                        </div>
                    </div>
                    <div class="layui-inline">
                        <label class="layui-form-label">时间</label>
                        <div class="layui-input-inline" style="width: 300px;">
                            <input id="createTime" name="createTime" placeholder="开始时间 至 截止时间" class="layui-input"
                                   th:value="${createTime != null ? createTime : ''}" maxlength="30">
                        </div>
                    </div>
                    <button type="submit" class="layui-btn">查询</button>
                    <!--<a class="layui-btn" style="right: 20px;position: absolute;" href="javascript:void(0)" onclick="add()">新增</a>-->
                </div>
            </form>
        </div>
        <table class="layui-table">
            <colgroup>
                <col width="100">
                <col width="200">
                <col>
            </colgroup>
            <thead>
            <tr>
                <th><b>顺序号</b></th>
                <th><b>秘邮号</b></th>
                <th><b>金额</b></th>
                <th><b>类型</b></th>
                <th><b>创建时间</b></th>

            </tr>
            </thead>
            <tbody>
            <tr data-th-each="item, iterStat : ${data}">
                <td data-th-text="${iterStat.count}+${pageIndex-1}*${pageSize}"></td>
                <td data-th-text="${item.userId}"></td>
                <td data-th-text="${item.money}" ></td>
                <td data-th-text="${item.type == 1 ? '充值' : '扣款'}"></td>
                <td data-th-text="${item.createTime}" class="date"></td>
                <!-- 						<td data-th-text="${item.publish == 0 ? '已下架' : '已上架'}"></td> -->

            </tr>
            </tbody>
        </table>

        <div id="pageContent"></div>
    </div>

    <div class="layui-footer">
        <!-- 底部固定区域 -->

    </div>
</div>
<!-- <script src="/layui/jquery.min.js"></script>
<script src="/layui/layui.js"></script> -->
<script th:inline="javascript">
    //JavaScript代码区域
    var contextRoot = /*[[@{/}]]*/ '';
    layui.use('laypage', function () {
        var laypage = layui.laypage;
        //执行一个laypage实例
        laypage.render({
            elem: 'pageContent'
            , count: [[${total}]] //数据总数，从服务端得到
            , curr: [[${pageIndex}]]
            , layout: ['count', 'prev', 'page', 'next', 'skip']
            , jump: function (obj, first) {
                console.log(obj.curr); //得到当前页，以便向服务端请求对应页的数据。
                console.log(obj.limit); //得到每页显示的条数
                //首次不执行
                if(!first || [[${pageIndex}]] != obj.curr){
                   window.location.href = contextRoot+'/manage/transaction/list?pageIndex=' + obj.curr + "&pageSize=" + obj.limit +
                   						"&" + $("#searchFrom").serialize();
                 }
            }
        });
    });
    layui.use('laydate', function() {
        var laydate = layui.laydate;
        laydate.render({
            elem : '#createTime' //指定元素
            ,format:'yyyy-MM-dd HH:mm:ss'
            ,type:'datetime'
            ,min: '2019-1-1'
            ,max: '3000-1-1'
            ,theme: '#698B69'
            ,range:"至"
            ,calendar: true

        });
    });
    function del(id) {
        layer.confirm("你确定要删除该社区吗？", function (index) {
            $.ajax({
                type: "POST",
                data: {'id': id},
                url: contextRoot + "/community/del",
                dataType: "json",
                success: function (msg) {
                    console.log(msg);
                    if (msg.meta.code == 0) {
                        layer.msg("删除成功!");
                        window.location.reload();
                    } else {
                        layer.msg(msg.meta.message);
                    }
                }
            });
        });
    }

    function edit(dateId) {
        layer.open({
            type: 2,
            resize: false,
            title: "编辑社区",
            area: ['90%', "90%"],
            content: contextRoot + "/community/edit_view?id=" + dateId, //这里content是一个DOM，注意：最好该元素要存放在body最外层，否则可能被其它的相对元素所影响
            btn: ['保存', '取消'],
            yes: function (index) {
                save(index);
            },
            cancel: function () {
            }
        });
    }


    /**
     * 保存标签
     */
    function save(index) {
        layer.confirm('确定要添加该社区吗?', function (index) {
            var obj = $("iframe").contents().find("#addForm").serialize();
            $.ajax({
                type: "POST",
                data: obj,
                url: contextRoot + "/community/add_and_edit",
                dataType: "json",
                success: function (msg) {
                    console.log(msg);
                    if (msg.meta.code == 0) {
                        layer.msg("添加成功!");
                        layer.close(index);
                        window.location.reload();
                    } else {
                        layer.msg(msg.meta.message);
                    }
                }
            });
        });
    }
</script>
</body>
<script type="text/javascript" th:src="@{/common.js}"></script>

</html>