<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport"
          content="width=device-width, initial-scale=1, maximum-scale=1">
    <title>上传Excel</title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta name="format-detection" content="telephone=no,email=no,address=no">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-touch-fullscreen" content="yes">
    <meta name="App-Config" content="fullscreen=yes,useHistoryState=yes,transition=yes">
    <meta name="msapplication-tap-highlight" content="no">
    <!--去掉winphone系统a、input标签被点击时产生的半透明灰色背景-->
    <!--<link rel="Shortcut Icon" href="static/img/favicon.ico" />-->
    <link rel="stylesheet" th:href="@{/style/core.css}">
    <script type="text/javascript" charset="utf-8"
            th:src="@{/toongine20190104.js}"></script>
    <script th:src="@{/layui/jquery.min.js}"></script>
    <script th:src="@{/layui/layui.js}"></script>
    <script type="text/javascript" th:src="@{/common.js}"></script>
    <script type="text/javascript" th:src="@{/jquery.form.js}"></script>

    <script type="text/javascript" th:inline="javascript">
        var uploadurl = [[${uploadurl}]];

        function submitForm() {
            var excelPath = $("#file").val();
            if (excelPath == null || excelPath == '') {
                alert("请选择要上传的Excel文件");
                return;
            } else {
                var fileExtend = excelPath.substring(excelPath.lastIndexOf('.')).toLowerCase();
                if (fileExtend == '.xls' || fileExtend == '.xlsx') {
                    $("#upload_form").ajaxSubmit({
                        url: uploadurl,
                        cache: false,
                        dataType: 'json',
                        success: function (data) {
                            alert(data.msg);
                        },
                        error: function () {
                            alert(data.msg);
                        }
                    });
                } else {
                    alert("文件格式需为'.xls或xlsx'格式");
                    return;
                }
            }
        }
    </script>
</head>

<body>
<div align=center>
    <form id="upload_form" th:action="${uploadurl}"
          enctype="multipart/form-data" method="post">
        <br/>
        <br/>
        <h4 th:text="'为邮件组  ' + ${pname}+'<'+${ptemail} + '> 上传订阅号的Excel名单' "/>
        <br/>
        <br/>
        <div>
        <input type="file" id="file" name="file"/>
        <br/>
        <br/>
        <button type="button" style="width: 100px;height: 50px;background-color:#3b97d7;font-size: large;color:white " onclick="submitForm()">上传Excel</button>
        </div>
        <br/>
        <br/>
        <br/>
        <a th:href="${downUrl}"> 下载模板</a>
        <br/>
        <br/>
        <p style="color: red">该链接5分钟内有效</p>
    </form>
</div>

</body>

</html>
