<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.syswin.pipeline.db.repository.CardRepository">
    <resultMap id="BaseResultMap" type="com.syswin.pipeline.db.model.Card">
        <id column="card_id" jdbcType="VARCHAR" property="cardId"/>
        <result column="user_id" jdbcType="VARCHAR" property="userId"/>
        <result column="card_no" jdbcType="VARCHAR" property="cardNo"/>
        <result column="create_time" jdbcType="INTEGER" property="createTime"/>
    </resultMap>

    <sql id="Base_Column_List" >
      card_id,  user_id, card_no, create_time
  </sql>
    <insert id="insert">
        insert into card
        (
        card_id,
        user_id,
        card_no,
        create_time
        ) values (
        #{cardId},
        #{userId},
        #{cardNo},
        #{createTime}
        )
    </insert>
    <update id="update">
        update card
        <set >
            <if test="userId != null  and userId != ''" >
                user_id = #{userId},
            </if>
            <if test="carNo != null" >
                card_no = #{cardNo},
            </if>
            <if test="createTime != null" >
                create_time = #{createTime},
            </if>
        </set>
        where card_id = #{cardId}
    </update>

    <select id="select" resultType="com.syswin.pipeline.db.model.Card">
        select
        <include refid="Base_Column_List" />
        from card
    </select>

    <select id="selectById" resultType="com.syswin.pipeline.db.model.Card">
        select
        <include refid="Base_Column_List" />
        from card  where card_id = #{cardId}
    </select>

    <delete id="delete">
       delete from card  where card_id = #{id}
  </delete>
</mapper>